{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <title>My Finance Hub</title>
</head>
<body>
<div class="container">
    {# START display user section #}
    <div class="display-box profile-section">
        <img src="{% static 'images/default_user_m.jpg' %}" class="profile-section__image" alt="Profile Image">
        <div class="profile-section__info-box">
            <h3 class="profile-section__name">Ventsislav Todorov</h3>
            <p class="profile-section__date">--joined November 2021</p>
        </div>
    </div>
    {# END display user section #}
    <section class="display-box">Accounts and stat section</section>
    <nav class="display-box">Navigation</nav>
    <main class="display-box">Main content section</main>
</div>
</body>
</html>